<!-- <div class="card mb-3">
  <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg"
    aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" role="img">
    <title>Placeholder</title>
    <rect width="100%" height="100%" fill="#868e96" /><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text>
  </svg>

  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">It's a broader card with text below as a natural lead-in to extra content. This content is a
      little longer.</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
</div> -->

<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css" />
<div class="container">

  <div class="well">
    <div class="media">
      <a class="pull-left" href="#">
        <img class="media-object" src="http://localhost:51473/Image/{{Client_image}}">
      </a>
      <div class="media-body">
        <h4 class="media-heading">{{title}}</h4>
        <p class="text-right">{{Client_Prenom}}</p>
        <p>{{description}}</p>
        <ul class="list-inline list-unstyled">
          <li><span><i class="glyphicon glyphicon-calendar"></i> 2 days, 8 hours </span></li>
          <li>|</li>
          <span><i class="glyphicon glyphicon-star"></i> {{nombreAvis}} </span>


          <li>|</li>
          <li>
            <!-- Use Font Awesome http://fortawesome.github.io/Font-Awesome/ -->
            <span><i class="fa fa-facebook-square"></i></span>
            <span><i class="fa fa-twitter-square"></i></span>
            <span><i class="fa fa-google-plus-square"></i></span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
