<!-- <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

  <div class="carousel-inner" *ngFor="let cat of listCategorie">
    <div class="carousel-item active">
      <img src="assets/harley-02.jpg" class="d-block w-100 c-size" alt="...">
    </div>

  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div> -->

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner c-height">
    <div class="carousel-item active">
      <img src="assets/img/harley-02.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item " *ngFor="let sld of listSlide">
      <img style="width:auto; height:70%" src="http://localhost:51473/Image/{{sld.Pub_image}}" class="d-block w-100"
        alt="...">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
