<div class="container">
  <div class="card-deck">
    <div class="card" *ngFor="let url of newh">
      <img style='width:100%; height:200px' class="card-img-top img-fluid"
        src="http://localhost:51473/Image/{{url.Poste_image}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{url.Poste_title}}</h5>
        <p class="card-text">{{url.Poste_description}}
        </p>


        <img *ngIf="!url.Client_image" src="{{imgUrl}}" alt="Avatar" class="avatar mb-2 mr-sm-4">
        <img *ngIf="url.Client_image" src="http://localhost:51473/Image/{{url.Client_image}}" alt="Avatar"
          class="avatar mb-2 mr-sm-4">

        <button class="btn btn-primary mb-2 mr-sm-2" type="button">Button</button>
      </div>
    </div>



  </div>


</div>
<!-- /.container -->
