<div class="container mt-5">
  <div class="row">
    <div class="col-sm">
      <img src="assets/img/250930-P48YAN-836.png" alt="" width="200" height="200">
      <p>Jessica Is An Avid Traveller. She Wants To Go To Paris For Her Next Trip But Budget Is Low. She Loves Meeting
        New People And Sharing Culture And Going On Adventures</p>
    </div>
    <div class="col-sm">
      <img src="assets/img/2294722.png" alt="" width="200" height="200">
      <p>She Wants To See Paris Trought The Eyes Of The Loyals. She Has Stayed In Hostels Before But Felt Like She Was
        Missing The Authentic Experience Of Interacting With The Locals</p>
    </div>
    <div class="col-sm">
      <img src="assets/img/23.png" alt="" width="200" height="200">
      <p>She Has Heard A Lot Of Negative Feedback From Other Travellers On The Lack Of Saftey And Cimmunicatuin</p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <img src="assets/img/21291.png" alt="" width="200" height="200">
      <p>A Trusted Friend Of Jessica's Recommends Radical Hospitality And Sends Her An Invitation To Join The Platform
      </p>
    </div>
    <div class="col-sm">
      <img src="assets/img/qs.png" alt="" width="200" height="200">
      <p>She Connects With A Loyal Who Is Willingg To Let Her Stay With Her In Eiffel Tower. The Two Share Common
        Interests And Also Have A Few Mutrual Friend!</p>
    </div>
    <div class="col-sm">
      <img src="assets/img/13910 [Converti].png" alt="" width="200" height="200">
      <p>Jessica Goes To Paris And Has A Great Time With Her Host. Lisa Takes Her Around The City To Turly Experience
      </p>
    </div>
  </div>
</div>
